form .table-th-green tr td{
    vertical-align: top !important;
}
.no-pointer-events {
    pointer-events: none;
}

.font-16{
    font-size: 16px;
}

.fixed-button{
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 20px 100px;
    z-index: 999;
}
.no-pointer-events {
    pointer-events: none;
}
/*login screen css start*/

body.login-body {
    background-color:none !important;
    padding: 30px 0;
    margin: 0 auto;
    background: url('../public/img/bg.jpg') no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}


body.login-body img {
    height: 130px !important;
    width: 217px !important;
    margin-bottom: 10px;
}

body.login-body .row.eq-height-row {
    background-color: #24394900 !Important;
    height: 80% !important;
    min-height: 80vh !important;
}

body.login-body .right-col {
    background-color: #24394900 !important;
}

body.login-body .right-col-content {
    padding: 21px 30px!important;
}

body.login-body .right-col-content .form-header {
    font-size: 35px;
    margin: 0px 0 16px !important;
    text-align: center;
    /*font-family: 'Open Sans';*/
    /*text-transform: capitalize;*/
}

body.login-body .select-drop span.select2.select2-container.select2-container--default {
    width: 100% !important;
    font-size: 12px !important;
    /*font-family: 'Open Sans';*/
    /*text-transform: capitalize;*/
}

body.login-body .checkbox.icheck {
    margin: 0px !IMPORTANT;
}


body.login-body .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 33px;
    right: 3px;
}


body.login-body span.select2-selection.select2-selection--single {
    
    border: 1px solid #d2d6de;
    border-radius: 0;
    padding: 10px 12px;
    height: 40px;
    border-radius: 2px;
}


body.login-body .center-login {
    background-color: #fff;
    border-radius: 7px;
    color: #000 !important;
    height: 370px !important;
    width: 394px !Important;
}


body.login-body .btn-primary {
    background: #01a9ac;
    border-color: #01a9ac;
    width: 100% !important;
    font-family: 'Open Sans';
    font-size: 15px;
    padding: 10px 52px !important;
    border-radius: 2px;
    text-transform: uppercase;
}



body.login-body input#username {
    font-size: 12px;
    border-radius: 2px;
    border: 1px solid #ccc;
    /*font-family: 'Open Sans';*/
    padding: 10px 12px;
    height: 40px;
}


body.login-body .form-control-feedback.fa {
    line-height: 39px;
}

body.login-body input#password {
    font-size: 12px;
    border-radius: 2px;
    border: 1px solid #ccc;
    /*font-family: 'Open Sans';*/
    padding: 10px 12px;
    height: 40px;
}


body.login-body .select-drop {
    margin-bottom: 15px !important;
}


body.login-body .form-group {
    margin-bottom: 15px;
}


body.login-body .right-col a {
    color: #000000;
    font-size: 10px;
    line-height: 20px;
}


body.login-body .icheckbox_square-blue.checked {
    background-position: -51px -4px;
}


body.login-body .icheckbox_square-blue, .iradio_square-blue {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 19px;
    height: 18px;
    background: url('../images/vendor/icheck/skins/square/blue.png?96f8a90…') no-repeat;
    /*border: none;*/
    cursor: pointer;
    border: 2px solid #000 !important;
    margin-right: 5px !important;
}

body.login-body .right-col label {
    color: #000;
    font-size: 10px;
    font-weight: 600;
}

body.login-body h4 {
    display: none;
}

body.login-body .row.eq-height-row .eq-height-col {
    margin-top: 0px !important;
}

body.login-body .form-group.btn-mn-sub {
    margin-bottom: 0px !important;
}


/*login screen css end*/


/*login screen media query start*/


/*login screen media query end*/






/*reset password screen css start*/

.login-body-reset.pace-done .center-login {
    background-color: #fff;
    border-radius: 7px;
    color: #000 !important;
    height: 164px !important;
    width: 394px !Important;
}

.login-body-reset.pace-done .right-col-content {
    padding: 27px 30px 21px !important;
}

.login-body-reset.pace-done .bt-mn {
    margin-top: 85px !important;
}

/*reset password screen css end*/








/*dashborad css start */
.skin-blue .content-wrapper .content-custom, .skin-blue-light .content-wrapper .content-custom {
    
    background: #f6f7fb !Important;
}

.skin-blue .content-wrapper .content-header-custom, .skin-blue-light .content-wrapper .content-header-custom {
    background-color: #f6f7fb !important;
    background-image: linear-gradient(to right,#2b80ec00,#1d1f3300) !important;
    color: #000!important;
    padding: 83px 15px 200px;
}


.skin-blue .main-header .navbar, .skin-blue-light .main-header .navbar {
    background-color: #fff !important;
    background-image: linear-gradient(to right,#2b80ec00,#1d1f3300) !important;
    color: #000 !important;
    box-shadow: 0 0 11px rgba(0,0,0,.13) !important;
    position: fixed;
    width: -webkit-fill-available;
}


.skin-blue .main-header .navbar .sidebar-toggle {
    color: #000 !important;
}

.skin-blue .main-header .navbar .nav>li>a {
    color: #000 !important;
}


.mr-right .input-group {
    margin-bottom: 0px !important;
}

.mr-left h1 {
    margin: 10px 0px;
    color: #000 !important;
}

.skin-blue .main-header .navbar .sidebar-toggle:hover {
    background-color: #367fa900 !important;
}

.skin-blue .main-header .navbar .nav>li>a:hover {
    background: rgb(0 0 0 / 0%) !important;
}

.mn-dis {
    display: none;
}

.info-box-new-style .info-box-content {
    padding: 6px 0 6px 12px;
    margin-left: 0px !important;
    width: 72%;
}

.info-box.info-box-new-style {
    display: flex;
        margin: 0px;
}

.info-box-new-style:hover {
    transform: none !important;
}

.info-box-new-style {
        border-radius: 5px 5px 0px 0px;
}

.info-box-new-style .info-box-icon {
    background-color: #00000000 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 64px;
    margin-bottom: 0;
    padding-bottom: 0;
    height: 64px;
    width: 64px;
    line-height: 64px;
    font-size: unset;
    box-shadow: none !important;
    color: #000 !important;
}

.info-box-text {
    color: #919aa3 !important;
    font-weight: 400 !important;
    font-size: 11px !important;
    margin-bottom: 2px !important;
    letter-spacing: 0.5px !important;
}
.total_purchase {
    color: #fe9365 !important;
    font-size: 24px !important;
    font-weight: 500 !important;
}

.info-box-number {
    font-size: 24px !important;
    font-weight: 500 !important;
}

.total_sell {
    color: #0ac282 !important;
}

.purchase_due {
    color: #fe5d70  !important;
}


.invoice_due {
    color: #01a9ac  !important;
}


.col-data {
    display: block !important;
    margin-bottom: 25px;
}

.bg-c-yellow {
    background: linear-gradient(to right, #fe9365, #feb798);
    padding: 10px 40px !important;
    border-radius: 0px 0px 5px 5px;
}

.bg-c-yellow .row.align-items-center {
    display: flex;
}

.bg-c-yellow .row.align-items-center .col-9 {
    width: 89%;
}

.bg-c-green {
    
    padding: 10px 40px;
    border-radius: 0px 0px 5px 5px;
}

.bg-c-green .row.align-items-center {
    display: flex;
}

.bg-c-green .row.align-items-center .col-9 {
    width: 89%;
}


.bg-c-pink {
    background: linear-gradient(to right,#fe5d70,#fe909d);
    padding: 10px 40px;
    border-radius: 0px 0px 5px 5px;
}

.bg-c-pink .row.align-items-center {
    display: flex;
}

.bg-c-pink .row.align-items-center .col-9 {
    width: 89%;
}

.bg-c-blue {
    background: linear-gradient(to right,#01a9ac,#01dbdf);
    padding: 10px 40px;
    border-radius: 0px 0px 5px 5px;
}

.bg-c-blue .row.align-items-center {
    display: flex;
}

.bg-c-blue .row.align-items-center .col-9 {
    width: 89%;
}

.sidebar-menu>li>a {
    font-weight: 300 !important;
    padding: 10px 10px 10px 10px !important;
    font-size: 12px !important;
}

.skin-blue .main-sidebar  {
    
    background: #404e67 !important;
    border-right: 0!important;
}


.skin-blue .main-header .logo, .skin-blue-light .main-header .logo {
    background: #404e67 !important;
    position: fixed !important;
    box-shadow: 0 0 11px rgba(0,0,0,.13) !important;
}

.update-chart {
    background-color: #fff !important;
}

.update-chart .card-header-right {
    position: unset !important;
    margin-top: -44px;
}

.update-chart .card .card-header span {
    display: block;
    font-size: 11px !important;
    margin-top: 5px;
}

.update-chart .card .card-header span a {
    color: #3c8dbc;
    font-size: 11px;
}




.gr-chart {
    padding: 10px 40px;
    border-radius: 5px 5px 0px 0px !important;
}

.mn-ft-crd {
    background-color: #fff;
    border-top: none;
    padding: 20px !important;
    border-radius: 0px 0px 5px 5px;
}

.mn-ft-crd .row.text-center {
    display: inline-block;
    width: 100% !important;
    text-align: center;
}

.b-r-default {
    border-right: 1px solid #e0e0e0;
    float: left !important;
   
}

.mn-ft-crd .row.text-center .col-6 {
    width: 50% !important;
    float: left !important;
}

.clock_in_btn {
    margin: 0px !important;
    margin-right: 10px !important;
    padding: 10px 10px !important;
}

.clock_in_btn i.fas.fa-arrow-circle-down {
    margin: 0px !important;
}

.treeview-menu a::before {
    content: "\2192 ";
    margin-right: 10px !important;
}

.skin-blue .sidebar-menu>li>.treeview-menu {
    margin: 0 1px;
    border-left: 2px solid #3c8dbc !important;
}

/*dashboard css end*/



/*table css start */
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #efecec00 !Important;
}

.table-hover>tbody>tr:hover {
    background-color: #f5f5f5 !Important;
    color: #000 !important;
}


div.dataTables_scrollBody>table>tbody>tr:first-child>td, div.dataTables_scrollBody>table>tbody>tr:first-child>th {
    border-top: none !important;
    border: 0px solid #b3adad;
    font-size: 12px;
    font-weight: 500;
    border-bottom: 1px solid #b3adad69 !important;
}

div.dataTables_scrollBody>table>tbody:first-child>tr {
    
    border-top: none !important;
}


.table-styling.table-primary {
    background-color: #ffffff !important;
    color: #000 !important;
    border: 3px solid #ffffff !important;
}


.table-bordered>tbody>tr>td {
    border: 0px solid #00000036;
    font-size: 12px;
    font-weight: 500;
    border-bottom: 1px solid #0000001f !important;
    vertical-align: inherit;
}

.table-styling.table-primary thead {
    background-color: #017779;
    border: 3px solid #017779;
    color: #fff !important;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    margin: -28px 0;
    white-space: nowrap;
}
/*table css end*/

 
 /* Custom scroll bar start*/

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #404e67; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.content-wrapper {
    background-color: #f8f9fe;
    /* padding-top: 74px !important; */
}

.buttons-csv, .buttons-excel, .buttons-print, .buttons-collection, .buttons-pdf {
    color: #fff;
    background-color: #017779 !important;
    border-color: #017779 !important;
}

.bg-blue {
    background-color: #017779 !important;
    border-radius: 50px !important;
    
}

.btn-default:hover {
    color: #fff !important;
    background-color: #1d1f33 !important;
    border-color: #1d1f33 !important;
}

.btn[class*=bg-]:hover {
    box-shadow: inset 0 0 100px rgb(29 31 51) !important;
    border: 1px solid #1d1f33 !important;
}

.content-header h1 {
    color: #00797b;
    font-weight: 700;
    background: white;
    padding: 10px;
    border: 1px solid #4682b400 !important;
    border-radius: 5px;
    box-shadow: 0px 0px 6px -2px;
    font-size: 24px;
}

.nav-tabs-custom ul.nav.nav-tabs li a {
    font-size: 14px;
}

th.main-colum {
    width: 40px !important;
}

.table>thead>tr>th {
    padding: 11px 8px 8px;
    font-weight: 600;
    letter-spacing: 1px;
    }
    

/* .btn-edt {
  font-size: 14px !important;
    padding: 7px 10px 6px;
    border-radius: 50px !important;
}

.btn-vew {
    font-size: 14px !important;
    padding: 9px 8px 9px !important;
    border-radius: 50px !important;
}

.btn-dlt {
    font-size: 14px !important;
    padding: 7px 8px 9px !important;
    border-radius: 50px !important;
} */
/* Custom scroll bar end*/