






<table>
    <thead>
        <tr>
            <th>Facility ID</th>
            <th>Portfolio</th>
            <th>Sub Portfolio</th>
            <th>Valuation Date</th>
            <th>Expiry Date</th>
            <th>Payment Frequency</th>
            <th>Interest Rate</th>
            <th>Starting Exposure</th>
            <th>Discount Rate</th>
            <th>PD-12M Base</th>
            <th>PD-12M Best</th>
            <th>PD-12M Worst</th>
            <th>LGD</th>
            <th>LECL Base</th>
            <th>LECL Best</th>
            <th>LECL Worst</th>
            <th>ECL12M Base</th>
            <th>ECL12M Best</th>
            <th>ECL12M Worst</th>
            <th>Stage</th>
            <th>IFRS9 ECL Base Number</th>
            <th>IFRS9 ECL Best Number</th>
            <th>IFRS9 ECL Worst Number</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var data in ViewBag.Data) {        
            <tr>
                @*<td>@data.FacilityID</td>*@

            </tr>
        
        
        }
    </tbody>
</table>
